.div_images {
    width: 100%;
    height: 80%;
}
.img_pr {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.div_sort {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sort_inpit {
    width: 60px;
}
