.containerAccount {
    margin-top: 90px;
    padding: 10px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}
.left__nav_mobile {
    display: none;
}
.hoverunderLine {
    position: relative;
    text-decoration: none;
    color: #000; /* Set the default text color */
    overflow: hidden;
}

.hoverunderLine::after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 1px; /* Set the height of the line */
    background-color: #000; /* Set the color of the line */
    bottom: -5px; /* Adjust the distance from the text */
    transition: width 0.3s ease; /* Add the transition property */
}

.hoverunderLine:hover::after {
    width: 100%;
}
.leftContainAcc {
    width: 320px;
    padding: 15px;
    height: 637px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.leftAcc {
    margin-top: 30px;
}
.accSpan {
    font-style: 15px;
    color: #b3b3b3;
}
.acc {
    margin-top: 30px;
}
.acc li {
    margin-top: 10px;
    list-style: none;
}
.acc li a {
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}
/* --------------------------Form account------------------------------------------- */
.rightContainAcc {
    width: 1320px;
    height: auto;
    padding: 55px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.coverFromBill {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.leftform {
    width: 100%;
    height: auto;
}
.inputbilling {
    display: block;
    width: 540px;
    height: 38px;
    border: none;
    background-color: transparent;
    outline: none;
    border-bottom: 1px solid black;
    transition: border-bottom 0.5s ease;
}
.btncoverformbill {
    margin-top: 30px;
}
/* side bar account */
.accSudeBar {
    padding: 10px;
}
.ulAccSidebar {
    display: block !important;
    border-bottom: 1px solid #b3b3b3;
}
.ulAccSidebar li a,
.spantxt {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 600;
}
.ulLogout {
    border: none;
    margin-top: 40px;
}
.spanPleaselOGIN {
    font-size: 24px;
    margin: auto;
    font-weight: 600;
    padding: 15px;
}
/* order items */
.cotnainer_cartOrder {
    margin-top: 25px;
    border-bottom: 1px solid #b3b3b3;
}

.header_cartOrder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f4f4f4;

}
.txtHeader_cartOrder {
}
.date_order,
.list_order,
.detail_cartOrder {
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    display: block;
}
.container_grandOrder {
    padding: 10px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.grand_text {
    display: block;
    font-size: 14px;
}
.bold_grandtext {
    font-weight: 600;
}
.new_item {
    padding: 10px 30px;
    background-color: aqua;
}
.bn16 {
    font-size: 14px;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 10px 40px 10px 40px;
    position: relative;
    border: 1px solid black;
    border-radius: 25px;
}
/*  */
.wrap__acc {
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
    background-color: #f4f4f4;
}
.icon_mbiel {
    font-size: 20px;
    cursor: pointer;
}
.myAccount {
    letter-spacing: 0;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 600;
}
.wrapper__mobileNav {
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
}
.wrapper__mobileNav #myLinks {
    display: none;
}
.mobileNav__Content {
    background-color: #b3b3b3;
    margin-bottom: 20px;
}
.mobileNav {
    padding: 20px;
    list-style: none;
    background-color: #f8f8f8;
}
.mobileNav li {
    margin-bottom: 7px;
}
.mobileNav li a {
    padding: 7px;
    color: black;
    font-weight: 600;
    text-decoration: none;
    font-size: 16px;
}

/* Small Devices (Mobile Portrait) */
@media (max-width: 575.98px) {
    .containerAccount {
        display: block;
    }
    .leftContainAcc {
        display: none;
    }
    .rightContainAcc {
        width: 100%;
    }
    .coverFromBill {
        display: block;
    }
    .leftform {
        width: 100%;
    }
    .left__nav_mobile {
        display: block;
    }
    .inputbilling {
        width: 100%;
    }
    .bn16 {
        font-size: 14px;
        letter-spacing: 0.1em;
        text-decoration: none;
        color: black;
        display: inline-block;
        padding: 3px;
        position: relative;
        border: none;
        border-bottom: 2px solid #b3b3b3;
        border-radius: 0px;
    }
}

/* Medium Devices (Tablet Landscape) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .containerAccount {
        display: block;
    }
    .leftContainAcc {
        display: none;
    }
    .rightContainAcc {
        width: 100%;
    }
    .coverFromBill {
        display: block;
    }
    .leftform {
        width: 100%;
    }
    .left__nav_mobile {
        display: block;
    }
    .inputbilling {
        width: 100%;
    }
}

/* Large Devices (Tablet Landscape) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .containerAccount {
        display: block;
    }
    .leftContainAcc {
        display: none;
    }
    .rightContainAcc {
        width: 100%;
    }
    .coverFromBill {
        display: block;
    }
    .leftform {
        width: 100%;
    }
    .left__nav_mobile {
        display: block;
    }
    .inputbilling {
        width: 100%;
    }
}

/* Large Devices (Desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {

    .rightContainAcc{
        width: 60%;
    }
    .leftContainAcc {
       width: 30%;
    }
    .coverFromBill {
        display: block;
    }
    .leftform {
        width: 100%;
    }
    .inputbilling {
        width: 100%;
    }
    .inputbilling {
       width: 100%;
    }
}
/* Extra Large Devices (Large Desktops) */
@media (min-width: 1200px) {

    /* Your styles for extra large devices go here */
}
