.CartMain {
    margin-top: 60px;
    padding: 10px;
}
.cateShoop span {
    font-size: 14px;
    color: #cacaca;
}
.CartTtitle {
    width: 100%;
    margin: 30px auto;
    padding:0px 30px;
}
.cartTtispan {
    margin-top: 20px;
    font-size: 48px;
    font-weight: 600;
}
.deleteCartItems {
    cursor: pointer;
}
.MainCartItems {
    padding:0px 30px;
    width: 100%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
}
.coverItemCartAndClearAll {
    width: 65%;
}

.BtnContinueS {
    text-decoration: none;
}
.mainCartContion {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.cartItem {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #cacaca;
}

.CoverImageAll {
    align-items: center;
    display: flex;
}
.allInfoCart {
    display: block !important;
    margin-left: 20px;
}
.ImageCarts {
    width: 130px;
    height: 130px;
}
.ImageCarts img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.infoProdcart {
    list-style: none;
}
.spanDtProdcu {
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
}
.ProdName {
    font-size: 16px;
}
/* continue shopping */
.ContinueShopping {
    margin-top: 90px;
    padding: 15px;
    background-color: #cacaca52;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ContinueShopping a {
    text-decoration: none;
    color: black;
}
/* btn apply */

.CartDetail {
    cursor: pointer;
    display: block;
    width: 250px;
    height: 50px;
    background-color: #2c2930;
    height: 54px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 3px;
    border: none;
    transition: all 0.3s;
}
.CartDetail:hover {
    background: transparent;
    color: black;
    border: 1px solid black;
}
/* ---------------------checkout-------------------------- */
.process_checkot {
    padding: 35px;
    width: 30%;
    background-color: #f8f8f8;
}
.processTxt {
    text-align: center;
    font-size: 38px;
    font-weight: 600;
    display: block; /* or display: inline-block; */
    margin: auto;
    padding: 10px 0px 30px;
    border-bottom: 1px solid #d1d1d1;
}
.subPrice {
    font-size: 14px;
    font-weight: 600;
}
.orderTotal {
    margin-top: 10px;
    display: block;
    color: #2c2930;
    font-size: 38px;
    font-weight: 600;
}
.summaryCart {
    border: none;
    width: 100%;
}
.dfapply {
    margin-top: 30px;
    border-top: 1px solid #d1d1d1;
    /* padding: 30px 30px 30px 0px; */
}

.applyCou {
    font-size: 18px;
    font-weight: 600;
}
.applyCodebtn {
    margin-top: 15px;
}
.BtnApplyDiscount {
    cursor: pointer;
    display: block;
    width: 100%;
    height: 50px;
    background-color: #2c2930;
    height: 54px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 3px;
    border: none;
    transition: all 0.3s;
}
.BtnApplyDiscount:hover {
    background: transparent;
    color: black;
    border: 1px solid black;
}
.AplyCoupons li {
    list-style: none;
    margin-top: 15px;
    font-size: 14px;
}
.appyCoupon {
    font-size: 16px;
}
.subtoal {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* dropdwon menu mini cart */

.dropdownminiCart {
    position: relative;
    display: inline-block;
}

.dropdown-contentminiCart {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 500px; /* Set the width to 500px */
    height: 600px; /* Set the height to 100vh */
    right: 0; /* Align to the right side */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.show {
    display: block;
}
/* minicart items */
.minicartItems {
    padding-left: 10px;
    padding-right: 10px;
}
.miniCartStyle {
    padding: 4px;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-between;
}
.MiniImageCarts img {
    width: 90px;
    height: 100%;
    object-fit: fill;
}
.miniCartTitle {
    display: block;
}
.nMiniCart {
    white-space: nowrap;

    font-size: 14px;
}
.nameMiniCart {
    white-space: nowrap;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 300;
}
.miniCartTitle span {
    display: block;
}
/* cart checkout and process in mini cart */
.aCartmini {
    text-decoration: none;
}
.cartButtonCheckoutmini {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.CartminiBtnDetail1 {
    font-size: 15px;
    font-weight: 600;
    display: block;
    width: 200px;
    height: 50px;
    background-color: white;
    height: 54px;
    color: black;
    font-size: 14px;
    letter-spacing: 3px;
    border: 1px solid black;
    transition: all 0.3s;
}
.CartminiBtnDetail1:hover {
    background: #2c2930;
    color: white;
    border: none;
}
/* if i tem is empty */
.empty-cart-message {
    align-items: center;
    justify-content: center;
}

.CartminiBtnDetail {
    font-size: 15px;
    font-weight: 600;
    display: block;
    width: 200px;
    height: 50px;
    background-color: #2c2930;
    height: 54px;
    color: white;
    font-size: 14px;
    letter-spacing: 3px;
    border: none;
    transition: all 0.3s;
}
.CartminiBtnDetail:hover {
    background: transparent;
    color: black;
    border: 1px solid black;
}
.emptyP {
    text-align: center;
    font-size: 15px;
    padding: 10px;
}
.empty-cart-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
}
.subminital {
    padding: 25px 35px;
}
.cartsubtotal {
    font-size: 15px;
    font-weight: 700;
}
/* ----------------------cart empty ----------------------- */
.cart_Empty {
    max-width: 760px;
    margin: 30px auto;
    text-align: center;
    padding: 60px 20px;
    min-height: 70vh;
    display: flex;
    align-items: center;
    flex-flow: column;
    align-content: center;
    justify-content: center;
}
.emptybtn {
    margin-top: 20px;
}
.txtEmptyCart {
    margin-top: 20px;
    font-size: 48px;
    font-weight: 600;
    text-transform: initial;
    letter-spacing: 0;
    text-align: center;
    line-height: 1.2; /* Adjust the line-height as needed */
}
.side_Cart_wrapper {
    padding: 35px;
    overflow-y: auto; /* Change from 'scroll' to 'auto' */
    position: fixed;
    transition: right 0.4s ease;
    right: -30%;
    width: 30%;
    background-color: #fff;
    /* padding: 10px 10px; */
    z-index: 11111;
    height: 100vh;
    top: 0;
}
.closeCart{
    font-size: 25px;
}
.side_Cart_wrapper.active {
    right: 0;
}
.backdrop_cart {
    display: none;
    position: fixed;
    z-index: 113;
    inset: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.4s ease;
    backdrop-filter: blur(5px);
}

.backdrop_cart.active {
    display: block;
    background-color: rgba(0, 0, 0, 0.35);
}
.res__cart {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 575.98px) {
    .side_Cart_wrapper {
        right: -75%;
        width: 75%;
    }
    .CartminiBtnDetail {
        font-size: 14px;
        height: 51px;
        width: 150px;
    }
    .CartminiBtnDetail1 {
        font-size: 14px;
        height: 51px;
        width: 150px;
    }
    /*  */
    .MainCartItems {
        display: block;
    }
    .MainCartItems {
        width: 100%;
        margin: 30px auto;
        display: block;
    }
    .coverItemCartAndClearAll {
        width: 100%;
    }
    .process_checkot {
        display: block;
        padding: 35px;
        width: 500px;
        background-color: #f8f8f8;
    }
    .CartTtitle {
        width: 100%;
    }
    .mainCartContion {
        display: block;
    }
    .CartDetail {
        width: 100%;
        height: 38px;
        margin-bottom: 15px;
    }
    .cartItem {
        display: block;
    }

    .ImageCarts {
        width: 100px;
        height: 100px;
    }
    .res__cart {
        margin-top: 10px;
        padding: 16px 10px;
        width: 100%;
    }
    .process_checkot {
        width: 100%;
    }
}
/* Small Devices (Tablet Portrait) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .side_Cart_wrapper {
        right: -75%;
        width: 75%;
    }
    /*  */
    .MainCartItems {
        display: block;
    }
    .MainCartItems {
        width: 100%;
        margin: 30px auto;
        display: block;
    }
    .coverItemCartAndClearAll {
        width: 100%;
    }
    .process_checkot {
        display: block;
        padding: 35px;
        width: 500px;
        background-color: #f8f8f8;
    }
    .CartTtitle {
        width: 100%;
    }
    .mainCartContion {
        display: block;
    }
    .CartDetail {
        width: 100%;
        height: 38px;
        margin-bottom: 15px;
    }
    .cartItem {
        display: block;
    }

    .ImageCarts {
        width: 100px;
        height: 100px;
    }
    .res__cart {
        margin-top: 10px;
        padding: 16px 10px;
        width: 100%;
    }
    .process_checkot {
        width: 100%;
    }
}

/* Medium Devices (Tablet Landscape) */
@media (min-width: 768px) and (max-width: 991.98px) {
    /*  */
    .MainCartItems {
        display: block;
    }
    .MainCartItems {
        width: 100%;
        margin: 30px auto;
        display: block;
    }
    .coverItemCartAndClearAll {
        width: 100%;
    }
    .process_checkot {
        display: block;
        padding: 35px;
        width: 500px;
        background-color: #f8f8f8;
    }
    .CartTtitle {
        width: 100%;
    }
    .mainCartContion {
        justify-content: start;
        gap: 20px;
    }
    .CartDetail {
        width: 207px;
        height: 38px;
        margin-bottom: 15px;
    }

    .cartItem {
        display: block;
    }

    .ImageCarts {
        width: 100px;
        height: 100px;
    }
    .res__cart {
        margin-top: 10px;
        padding: 16px 10px;
        width: 100%;
    }
    .process_checkot {
        width: 100%;
    }
}

/* Large Devices (Desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
      /*  */
      .MainCartItems {
        display: block;
    }
    .MainCartItems {
        width: 100%;
        margin: 30px auto;
        display: block;
    }
    .coverItemCartAndClearAll {
        width: 100%;
    }
    .process_checkot {
        display: block;
        padding: 35px;
        width: 500px;
        background-color: #f8f8f8;
    }
    .CartTtitle {
        width: 100%;
    }
    .mainCartContion {
        justify-content: start;
        gap: 20px;
    }
    .CartDetail {
        width: 207px;
        height: 38px;
        margin-bottom: 15px;
    }

    .cartItem {
        display: block;
    }

    .ImageCarts {
        width: 100px;
        height: 100px;
    }
    .res__cart {
        margin-top: 10px;
        padding: 16px 10px;
        width: 100%;
    }
    .process_checkot {
        width: 100%;
    }
}

/* Extra Large Devices (Large Desktops) */
@media (min-width: 1200px) {
    /* Your styles for extra large devices go here */

}
