.container_footer {
    max-width: 1670px;
    margin: auto;
}
.row_footer {
    display: flex;
    flex-wrap: wrap;
}
.footer_ul {
    list-style: none;
}
.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footer_col {
    width: 25%;
    padding: 0 25px;
}
.footer_col h4 {
    font-size: 16px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer_col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    width: 50px;
}
.footer_col ul li:not(:last-child) {
    margin-bottom: 10px;
}
.footer_col ul li a {
    font-size: 14px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer_col ul li a:hover {
    color: #ffffff;
    padding-left: 10px;
}
.input_subscribe {
    margin-bottom: 35px;
    width: 90%;
    padding: 15px;
    outline: none;
}
.pSubscribe {
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 30px;
}
.btn_subc {
    display: block;
    width: 200px;
    height: 45px;
    font-size: 15px;
    font-weight: 600;
    background-color: #ffffff;
    color: #24262b;
    font-size: 14px;
    letter-spacing: 3px;
    border: none;
    transition: all 0.3s;
}
.btn_subc:hover {
    background: transparent;
    color: #ffffff;
    border: 1px solid black;
}
.spacingRegular {
    width: 100%;
    height: 40px;
}
.containIcon {
    display: flex;
    justify-content: center;
}
.containIcon ul {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}
.containIcon ul li {
}
.containIcon ul li a {
    color: #bbbbbb;
    text-decoration: none;
}
.containIcon ul li a i {
    font-size: 20px;
}
.txtModer {
    color: #bbbbbb;
    font-size: 14px;
    text-align: center;
}
.borderBt {
    border-bottom: 1px solid #bbbbbb;
}
/* top btn */
.menu-float .bt-nav {
    position: fixed;
    bottom: 20px;
    right: 20px;
    pointer-events: auto;
    z-index: 9999;
    transition: opacity 0.3s; /* Add transition for smoother visibility change */
    opacity: 1; /* Initially visible */
}

.bt-nav {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
/* Placeholder element for smooth scroll */
#topPlaceholder {
    position: absolute;
    top: 0;
}
/* above content footer */
.above_footer_content {
    margin-top: 30px;
}
.container_above_footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.professionalSpp {
    margin: auto;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 420px;
    height: 134px;
    border-right: 1px solid #d1d1d1;
}
.icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-wrapper {
    font-weight: 600;
    font-size: 16px;
}
/* Small Devices (Mobile Portrait) */
@media (max-width: 575.98px) {
    .professionalSpp {
        border-right: none;

        border-bottom: 1px solid #d1d1d1;
    }
    .footer_col {
        width: 100%;
    }
    .containIcon ul {
        width: 100%;
    }
}

/* Medium Devices (Tablet Landscape) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .professionalSpp {
        border-right: none;

        border-bottom: 1px solid #d1d1d1;
    }
    .footer_col {
        width: 100%;
        margin-bottom: 30px;
    }
}

/* Large Devices (Tablet Landscape) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Large Devices (Desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}
/* Extra Large Devices (Large Desktops) */
@media (min-width: 1200px) {
    /* Your styles for extra large devices go here */
}
