.DivTitle {
    margin-top: 20px;
}
.MainContainerFirstPage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    flex-direction: row;
    flex-wrap: wrap;
}
.ContainerFirstPage {
    margin-top: 20px;
    width: 380px;
    height: 600px;
}

.ImageFirstPage {
    position: relative;
    width: 100%;
    height: 500px;
}

.soldOutItems {
    position: absolute;
    z-index: 1;
    top: 3%;
    left: 3%;
    font-size: 14px;
    color: #737373;
}

.ImageFirstPage img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.TitleFirstPage {
    text-align: center;
    padding: 8px;
    height: 100px;
}
.NameProFirstPage {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
.NameProFirstPageColor {
    color: #737373 !important;
}
.TitleFirstPage span {
    font-size: 14px;
    font-weight: 300;
    color: #000000;
    margin-top: 8px;
    display: block;
}
.fial_price {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.PriceFirstPageoG {
    text-decoration: line-through;
}
.AherfItemProduct {
    text-decoration: none;
    color: #000000;
}
/* --------banner------- */
.bannerIndex {
    width: 100%;
    height: 100vh;
    background-color: red;
}
.BannerImage {
    position: relative;
}
.divInfBanner {
    text-align: center;
    position: absolute;
    top: 90%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
}
.BannerImage img {
    width: 100%;
    height: 100vh;
}
.titleInfo {
    font-size: 15px;
    color: #ffffff;
}
.middletextBanner {
    text-align: center;
    margin-top: 15px;
    display: block;
    font-size: 30px;
    font-weight: 600;
}
.bannerBtn {
    margin: 15px auto;
    font-size: 15px;
    font-weight: 600;
    display: block;
    width: 380px;
    height: 50px;
    background-color: transparent;
    height: 54px;
    color: white;
    font-size: 14px;
    letter-spacing: 3px;
    border: 1px solid #2c2930;
    transition: all 0.3s;
    cursor: pointer;
}
.bannerBtn:hover {
    background: transparent;
    color: white;
    border: 1px solid white;
}
.divSearchdiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
}
.searchHeader {
    height: 38px;
    width: 90%;
    outline: none;
    padding-right: 35px;
    padding-left: 10px;
    border: 1px solid #c6c6c6;
}
.icoHead {
    cursor: pointer;
}
.btnSearch{
    height: 30px;
    margin-left: 20px;
    outline: none;
    border: none;
    background-color: transparent;
}
/* Small Devices (Mobile Portrait) */
@media (max-width: 575.98px) {
    .MainContainerFirstPage {
        flex-direction: column;
        text-align: center;
    }

    .MainContainerFirstPage > div {
        width: 100%;
        margin-bottom: 10px;
    }
}

/* Medium Devices (Tablet Landscape) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .MainContainerFirstPage {
        flex-direction: row;
    }

    .MainContainerFirstPage > div {
        width: 49%; /* Two columns on tablet landscape */
        margin-bottom: 10px;
    }
}

/* Large Devices (Tablet Landscape) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .MainContainerFirstPage {
        flex-direction: row;
    }

    .MainContainerFirstPage > div {
        width: 49%; /* Two columns on larger tablets */
        margin-bottom: 10px;
    }
}

/* Large Devices (Desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .MainContainerFirstPage > div {
        width: 32%; /* Three columns on desktops */
        margin-bottom: 10px;
    }
}
/* Extra Large Devices (Large Desktops) */
@media (min-width: 1200px) {
    /* Your styles for extra large devices go here */
}
