.containerList {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0px 20px;
}
.FilterContainer {
    margin-top: 30px;
    padding: 10px;
    width: 320px;
    height: auto;
}
.TitleFilter {
    display: flex;
    align-items: center;
    font-size: 20px;
}
.fikte {
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 15px;
    margin-left: 20px;
}
.categoryList {
    margin-top: 10px;
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.MainMainCate {
    font-size: 15px;
}
.textDecorA {
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}
.subsubCategoryTtile {
    padding: 12px 20px 12px 30px;
}
.textDecorAb {
    color: #000000;
    text-decoration: none;
    font-size: 14px;
}
.coverCategory {
    margin-top: 20px;
}

.labelBrandandSize,
.priceFil {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 300;
    width: 100px;
}
.label {
    width: 1.4em;
    height: 1.4em;
    font-size: 14px;
    font-weight: 300;
}
/* ------------list product--------------- */
.ListProductContent {
    margin-top: 30px;
    padding: 0px 20px;
    width: 1500px;
    height: auto;
}
.productFoundContain {
    margin-top: 20px;
    width: 100%;
    height: 90px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.fountItem {
    margin-left: 20px;
    display: block;
    font-size: 16px;
}
.btnItem {
    margin-top: 20px;
    margin-left: 20px;
}

.btnTitleIte:first-child {
    margin-right: 10px; /* Adjust this value to control the space between buttons */
}

.btnTitleIte a {
    text-decoration: none;
    font-size: 15px;
    color: #b3b3b3;
}
/* pagination */
.pagination nav li {
    list-style-type: none;
    float: left;
    width: 20px;
}
.pagination nav li a {
    text-decoration: none;
    color: black;
    font-weight: 300;
}
.checkbox-wrapper-1 {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

/* Color checkbox in filter */
input[type="checkbox"],
input[type="radio"] {
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.65rem;
    cursor: pointer;
}
.radio-wrapper input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

/* Style the label to represent the checkbox */
.radio-wrapper .label {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}

/* Style the label to represent a checked checkbox */
.radio-wrapper input[type="checkbox"]:checked + .label {
    background-color: green; /* Set the color you want for the checked state */
}
/* select */
.SortByNewstItem {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 20px;
}
.filter_dfNone {
    display: none;
}
.Filter_respons {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filter__text {
    padding: 12px 0px;
}
.text__menu {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 700;
}
.select {
    text-transform: capitalize;
    border: 1px solid #ced4da; /* Add border for better visibility */
    padding: 6px 12px; /* Adjust padding for better appearance */
    display: inline-block; /* Ensure the select is inline */
    vertical-align: middle; /* Align vertically with other elements */
    font-size: 15px;
}
.dropdown__item {
    list-style: none;
}
.filter__text {
    text-decoration: none;
    font-size: 14px;
    color: black;
}
.dropdown__sublink {
    padding: 2px 14px;

    text-decoration: none;
    color: #303030;
    font-size: 13px;
}
/* side bar filter */
.side_filter_wrapper {
    overflow: scroll;
    transition: left 0.4s ease;
    position: fixed;
    left: -50%;
    width: 50%;
    background-color: #fff;
    z-index: 99999;
    height: 100ch;
    top: 0;
}
.side_filter_wrapper.visible {
    left: 0;
}
.backdrop_filter {
    display: none;
    position: fixed;
    z-index: 999;
    inset: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.4s ease;
    backdrop-filter: blur(5px);
}

.backdrop_filter.active {
    display: block;
    background-color: rgba(0, 0, 0, 0.35);
}
.container_filterSide {
    padding: 35px;
}

.div_filterMenu {
    margin-top: 20px;
    padding: 0px 0px 23px;
    border-bottom: 1px solid #ced4da;
}
.text__filermenu {
    font-weight: 700;
    font-size: 20px;
}
/* no product */
.No_productContain {
    margin-top: 30px;
}
.search_result {
    font-size: 40px;
    font-weight: 700;
}
.info_noresult {
    margin-top: 30px;
    display: flex;
}
.box_info {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #44d7e2;
    width: 80px;
    height: 56px;
    color: white;
}
.box_info2 {
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 56px;
    width: 100%;
    color: #2c2930;
    font-size: 14px;
    font-weight: 500;
}
.box_info2 span{
   margin-left: 30px;
}
@media (max-width: 575.98px) {
    .FilterContainer {
        display: none;
    }
    .filter_dfNone {
        display: block;
    }
    .SortByNewstItem {
        justify-content: space-between;
    }
}
/* Small Devices (Tablet Portrait) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .FilterContainer {
        display: none;
    }
    .filter_dfNone {
        display: block;
    }
    .SortByNewstItem {
        justify-content: space-between;
    }
}

/* Medium Devices (Tablet Landscape) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .FilterContainer {
        display: none;
    }
    .filter_dfNone {
        display: block;
    }
    .SortByNewstItem {
        justify-content: space-between;
    }
}

/* Large Devices (Desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra Large Devices (Large Desktops) */
@media (min-width: 1200px) {
    /* Your styles for extra large devices go here */
}
