.orderDetailContainerBody,
.orderDetailContainer {
    display: block;
    width: 920px;
    height: auto;
}

.bdnone {
    border-bottom: none;
}
.orderDetailContainerBody {
    margin-top: 30px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.wrapper_iteminOrderdetail {
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.txt_orderdetak {
    gap: 10px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
}
.icon-head {
    font-size: 15px;
}
/* progress bar */
.progressbar_ {
    margin-top: 20px;
}
#bar-progress {
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

#bar-progress .step {
    display: inline-block;
}

#bar-progress .step .number-container {
    display: inline-block;
    border: solid 1px #000;
    border-radius: 50%;
    width: 24px;
    height: 24px;
}

#bar-progress .step.step-active .number-container {
    background-color: #000;
}

#bar-progress .step .number-container .number {
    font-weight: 700;
    font-size: 0.8em;
    line-height: 1.75em;
    display: block;
    text-align: center;
    margin-top: 2px;
}

#bar-progress .step.step-active .number-container .number {
    color: white;
}

#bar-progress .step h5 {
    display: inline;
    font-weight: 300;
    font-size: 0.8em;
    margin-left: 10px;
    text-transform: uppercase;
}

#bar-progress .seperator {
    display: block;
    width: 20px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: auto 20px;
}
/* item */
.itemOrder_detail {
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper_imgDetail {
    display: flex;
    align-items: center;
    gap: 10px;
}
.image_detail {
    object-fit: cover;
    border: 1px solid black;
    width: 80px;
    height: 80px;
}
.Name_itemDetaik {
    font-size: 14px;
}
.total_wrappDetail span {
    font-size: 14px;
    color: #b3b3b3;
}
.db {
    display: block;
}
.total_wrappDetail {
}
.quant {
    color: black !important;
    font-weight: 600;
}
/* information */
.inforcontainer {
    margin-top: 30px;
}
.information_wrap {
    display: flex;
    justify-content: space-between;
}
.textinfo li {
    list-style: none;
}
.wrapper_leftInfo {
    width: 49%;
}
.left_infor {
    padding: 10px;
    height: 120px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.right_infor {
    height: 250px;
    padding: 10px;
    width: 49%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.suprateDiv {
    display: flex;
    justify-content: space-between;
}
.boldTextspan {
    font-weight: 600;
}
.topleft_info {
    margin-top: 10px;
}
.order_log {
    margin-top: 30px;
}
.containSip {
    margin-bottom: 20px;
}
.orderStauts {
    display: block;
    font-size: 16px;
    font-weight: 600;
}
.tracking {
    display: block;
}
.namshio {
    font-weight: 500;
}
.CancelOrder {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ahrdd {
    text-decoration: none;
}
.cancelBtn {
    cursor: pointer;
    font-size: 14px;
    padding: 10px 20px;
    color: white;
    background-color: #d25212;
}
.res__Prod{
    letter-spacing: 0px;
    display: block;
}
/* Small Devices (Mobile Portrait) */
@media (max-width: 575.98px) {
    .orderDetailContainerBody,
    .orderDetailContainer {
        width: 100%;
    }
    .information_wrap {
       display: block;
    }
    .wrapper_leftInfo,
    .right_infor  {
        width: 100%;
    }
    .res__Prod{
        letter-spacing: 0px;
        display: block;
    }

}

/* Medium Devices (Tablet Landscape) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .orderDetailContainerBody,
    .orderDetailContainer {
        width: 100%;
    }
    .information_wrap {
       display: block;
    }
    .wrapper_leftInfo,
    .right_infor  {
        width: 100%;
    }
    .res__Prod{
        letter-spacing: 0px;
        display: block;
    }
}

/* Large Devices (Tablet Landscape) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .orderDetailContainerBody,
    .orderDetailContainer {
        width: 100%;
    }
    .information_wrap {
       display: block;
    }
    .wrapper_leftInfo,
    .right_infor  {
        width: 100%;
    }
    .res__Prod{
        letter-spacing: 0px;
        display: block;
    }
}

/* Large Devices (Desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}
/* Extra Large Devices (Large Desktops) */
@media (min-width: 1200px) {
    /* Your styles for extra large devices go here */
}
