@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
}

body {
    font-family: "Poppins", sans-serif;
}
/* padding container 20px */
::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
}
/* Track */
scrollbar {
    width: 3px;
}

/* Handle */
scrollbar-thumb {
    background-color: #888;
}
.pagination {
    margin-top: 30px;
    display: flex;
}
.pagination li {
    margin-left: 10px;
}
.pagination li a {
    margin-left: 10px;
    text-decoration: none;
    color: black;
}
/* swiper */

.swiper-container {
    padding: 20px;
    width: 100%;
    height: 230px; /* Adjust height as needed */
    overflow-x: hidden; /* Hide horizontal overflow */
    cursor: grab; /* Use grab cursor to indicate scrollability */
}
.swiper-slide {
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    padding: 5px;
    width: calc(
        25% - 15px
    ); /* Set the width of each slide to 25% of the container width with less space between */
    margin-right: 15px; /* Space between slides */
    flex-shrink: 0; /* Prevent slides from shrinking */
}
.title_review {
    font-size: 36px;
    font-weight: 700;
}
.section-review {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.reviewLandingPages {
    display: flex;
    justify-content: center;
}
.wrapper_reviewlanding {
    font-size: 15px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title_base_review {
    margin-right: 20px;
}
.leftreview {
    margin-left: 20px;
}
.landingtotalreview {
    font-weight: normal;
}
.name_review {
    display: flex;
    align-items: center;
}
.name_landingreview {
    margin-right: 10px;
    font-size: 12px;
    font-weight: 500;
}
.startlanding {
    font-size: 12px;
}
.ulReview {
    list-style: none;
}
.textNameiteREviews {
    font-size: 13px;
}
.datelandingpage {
    margin-top: 10%;
}
/* banner */
.banner_wrapper {
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
}
.banner_left_two {
    width: 40%;
}
.child_banner_two {
    width: 100%;
    height: 290px;
}
.child_banner_two:last-child {
    margin-top: 20px;
    width: 100%;
    height: 290px;
}
/*  */
.banner_right_two {
    width: 58%;
    height: 600px;
}
.child_banner_two {
    position: relative;
}
.child_banner_two img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.textFixbanner {
    position: absolute;
    left: 20%;
    top: 60%;
    transform: translate(-50%, -50%);
}
.TitleFixBanner {
    font-size: 16px;
    font-weight: 500;
    color: #fff8e7;
}
.btnFixBanner {
    font-size: 15px;
    font-weight: 600;
    display: block;
    width: 150px;
    height: 50px;
    background-color: #2c2930;
    height: 54px;
    color: white;
    font-size: 14px;
    letter-spacing: 3px;
    border: none;
    transition: all 0.3s;
}
.btnFixBanner:hover {
    background: transparent;
    color: black;
    border: 1px solid black;
}
.aHrefFix {
    text-decoration: none;
}
.child_banner_three {
    position: relative;
    width: 100%;
    height: 100%;
}
.child_banner_three img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.textFixbannerthree {
    position: absolute;
    left: 15%;
    top: 80%;
    transform: translate(-50%, -50%);
}
.wrapperAhrefFixbanne {
    margin-bottom: 10px;
}
/* model */
.model_coupon {
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: fixed;
    left: 0;
    top: 0;
}
.content_model_coupon {
    position: absolute;
    width: 24rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aqua;
    z-index: 999999;
}
/* model */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}
.h2-order{
    margin-bottom: 10px;
}
.selcet-cencel{
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.order-btn-cancel {
    margin-left: auto;
    display: block;
    width: 145px;
    height: 40px;
    font-size: 13px;
    font-weight: 600;
    background-color: #2c2930;
    height: 54px;
    color: white;
    letter-spacing: 3px;
    border: none;
    transition: all 0.3s;
}
.order-btn-cancel:hover {
    background: transparent;
    color: black;
    border: 1px solid black;
}
